#honours {
    overflow: auto;
    height: 500;
}

#header {
    margin: 25px 25%;
}

.Cups {
    width: 50%;
    background: rgb(255, 255, 255);
    margin: 25px 25%;
    height: auto;
}
.Cups img { 
    float: left; 
}
.Cupstext {
    display: inline-block;
    clear: none;
    font-size: 18px;
}

h2 {
    margin-left: 25px;
    padding-top: 25px;
}

#setMargin1 {margin-left: 100px;}
#setMargin2 {margin-left: 75px;}
#setMargin3 {margin-left: 50px;}

#hyperlink a {
    color: black;
    font-weight: bold;
    background: rgb(237, 187, 0);
    margin-right: 25px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    text-decoration: none;
}

#hyperlink {
    background: rgb(237, 187, 0);
}
